{{#shadow-box}}
  <div class="edit-movie">

    {{view Ember.TextField valueBinding="title" class="edit-title"}}

    <dl class="edit-toggles">
      <dt>Seen by Chris?</dt>
      <dd>{{toggle-switch toggleBinding="chris" on="Yes" off="No"}}</dd>

      <dt>Seen by Sarah?</dt>
      <dd>{{toggle-switch toggleBinding="sarah" on="Yes" off="No"}}</dd>

      <dt>On Shortlist?</dt>
      <dd>{{toggle-switch toggleBinding="shortlist" on="Yes" off="No"}}</dd>
    </dl>

    <dl class="edit-genres">
      <dt>{{genresInflected}}</dt>
      <dd>
        {{view Movies.PickerView collectionBinding="allGenres" pickedBinding="genres" labelProperty="name"}}
      </dd>
    </dl>

    <p class="rt-message">Search Rotten Tomatoes for the rest of the information:</p>

    {{#view Movies.RtSearchView}}
      <form {{action 'searchRT' on="submit"}}>
        {{view Ember.TextField valueBinding="rtSearchQuery"}}

        {{#if searching}}
          <div class="rt-searching">
            <i class="icon-spinner icon-spin"></i>
          </div>
        {{else}}
          <button type="submit" class="icon-button icon-button-rt-search">
            <i class="icon-search"></i>
            <span>Search</span>
          </button>
        {{/if}}
      </form>

      <ul>
        {{#each searchResults}}
          {{#view Movies.RtSearchResult movieBinding="this"}}
            {{title}}
          {{/view}}
        {{/each}}
      </ul>

      {{#if noResults}}
        <div class="rt-no-results">No Results</div>
      {{/if}}
    {{/view}}

    <div class="rt-info">
      <a class="poster" {{bindAttr href=link}} target="_blank" title="View on Rotten Tomatoes">
        <img {{bindAttr src=poster_profile}} />
      </a>

      <dl>
        <dt>Critics' Rating</dt>
        <dd>{{rating-meter rating=critics_score}}</dd>

        <dt>Audience Rating</dt>
        <dd>{{rating-meter rating=audience_score}}</dd>

        <dt>Year</dt>
        <dd>{{year}}</dd>

        <dt>Runtime</dt>
        <dd>{{minutes_to_mixed runtime}}</dd>

        <dt>Cast</dt>
        <dd>
          <ul>
            {{#each actors}}
              <li>{{name}}</li>
            {{/each}}
          </ul>
        </dd>

        <dt>MPAA Rating</dt>
        <dd>{{mpaa_rating}}</dd>
      </dl>
    </div>

    <div class="actions">
      <button class="icon-button" {{action 'save'}}>
        <i class="icon-ok"></i>
        <span>Save</span>
      </button>

      <button class="icon-button" {{action 'cancel'}}>
        <i class="icon-ban-circle"></i>
        <span>Cancel</span>
      </button>
    </div>

  </div>
{{/shadow-box}}
