<div class="selected-movie">

  <h2>{{title}}</h2>
  <dl>
    <dt>Seen by Chris?</dt>
    <dd>{{humanize_bool chris}}</dd>

    <dt>Seen by Sarah?</dt>
    <dd>{{humanize_bool sarah}}</dd>

    <dt>On Shortlist?</dt>
    <dd>{{humanize_bool shortlist}}</dd>

    <dt>Critics' Rating</dt>
    <dd>{{critics_rating}} / 100</dd>

    <dt>Year</dt>
    <dd>{{year}}</dd>

    <dt>Runtime</dt>
    <dd>{{runtime}}</dd>

    <dt>Cast</dt>
    <dd>
      <ul>
        {{#each cast}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </dd>

    <dt>Poster</dt>
    <dd>{{poster}}</dd>

    <dt>MPAA Rating</dt>
    <dd>{{mpaa_rating}}</dd>

    <dt>Link</dt>
    <dd>{{link}}</dd>

  </dl>

</div>
