<div class="selected-movie">

  <h2>{{title}}</h2>

  <dl>
    <dt>Seen by Chris?</dt>
    <dd>{{humanize_bool chris}}</dd>

    <dt>Seen by Sarah?</dt>
    <dd>{{humanize_bool sarah}}</dd>

    <dt>On Shortlist?</dt>
    <dd>{{humanize_bool shortlist}}</dd>

    <dt>Critics' Rating</dt>
    <dd>{{rating-meter rating=criticsRating}}</dd>

    <dt>Genres</dt>
    <dd>
      <ul>
        {{#each genres}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </dd>

    <dt>Year</dt>
    <dd>{{year}}</dd>

    <dt>Runtime</dt>
    <dd>{{minutes_to_mixed runtime}}</dd>

    <dt>Cast</dt>
    <dd>
      <ul>
        {{#each cast}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </dd>

    <dt>MPAA Rating</dt>
    <dd>{{mpaaRating}}</dd>

  </dl>

  <p>
    <a {{bindAttr href=link}} target="_blank">
      View on Rotten Tomatoes <i class="icon-external-link"></i>
    </a>
  </p>

  <img class="poster" {{bindAttr src=poster}} />

</div>
