<div class="selected-movie">

  <button class="icon-button" {{action 'edit'}}>
    <i class="icon-edit"></i>
    <span>Edit</span>
  </button>

  <h2>{{title}}</h2>

  <a {{bindAttr href=link}} target="_blank" title="View on Rotten Tomatoes">
    <img class="poster" {{bindAttr src=poster_profile}} />
  </a>

  <dl>
    <dt>Seen by Chris?</dt>
    <dd>{{humanize_bool chris}}</dd>

    <dt>Seen by Sarah?</dt>
    <dd>{{humanize_bool sarah}}</dd>

    <dt>On Shortlist?</dt>
    <dd>{{humanize_bool shortlist}}</dd>

    <dt>{{genresInflected}}</dt>
    <dd>
      <ul>
        {{#each genres}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </dd>

    <dt>Critics' Rating</dt>
    <dd>{{rating-meter rating=critics_score}}</dd>

    <dt>Audience Rating</dt>
    <dd>{{rating-meter rating=audience_score}}</dd>

    <dt>Year</dt>
    <dd>{{year}}</dd>

    <dt>Runtime</dt>
    <dd>{{minutes_to_mixed runtime}}</dd>

    <dt>Cast</dt>
    <dd>
      <ul>
        {{#each actors}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </dd>

    <dt>MPAA Rating</dt>
    <dd>{{mpaa_rating}}</dd>

  </dl>

</div>

{{outlet}}
